@font-face {
  font-family: "Helvetica Neue";
  src: url("assets/fonts/helvetica/HelveticaNeueLight.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("assets/fonts/helvetica/HelveticaNeueMedium.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("assets/fonts/helvetica/HelveticaNeueBold.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}