@use "@/const";

.Login-form {
  width: 25vw;
  min-width: 200px;

  h2 {
    color: const.$main-text-color;
  }

  .forgot-password {
    cursor: pointer;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;

    * {
      margin-bottom: 40px;
    }
  }
}

.login-btn {
  background-color: #1877f2;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin: 10px 0;
}

.reg-link-container {
  text-align: center;

  .reg-link {
    font-size: 1rem;
    color: const.$main-text-color;
    text-decoration: none;

    &:hover {
      color: const.$accent-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
