@use "@/const";
@use "sass:color";

.Modal {
  .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    background: color.mix(const.$main-color, const.$bg-color);
    .content-container {
      position: absolute;
      background: const.$bg-color;
      padding: 50px;
      border-radius: 10px;

      .close-btn {
        border: none;
        font-size: 20px;
        padding: 20px;
        cursor: pointer;
        font-weight: bold;
        color: const.$main-color;
        background: transparent;
        user-select: none;

        position: absolute;
        top: -10px;
        right: 0;
      }
    }
  }
}
